@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&family=Russo+One&display=swap');

/*font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Russo One', sans-serif;*/
body {
 margin-top: 20px;
}
.section-header {
	font-family: 'Russo One', sans-serif;
}

.description {
	font-family: 'Open Sans', sans-serif;
}

.description h5 {
	font-weight: bolder;


}

.description p {
  text-align: justify;
   text-justify: inter-word;
}

.description h2 {
	font-weight: 700;
}

p.subhead-descrip {
	color: #fa073c;
}

hr.eventdiv{
	border: 2px solid #acff26;
}

.reg {

	background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
}
header {
	margin: 0;
	padding: 0;
}

nav {
	position: fixed;


}


.menu {
	margin-top: 0;
	padding-top: 0;
	position: fixed;
	z-index: 2;
	width: 100%;
}
.navbar-brand{
	font-size: 6.5em;


}

.menu h3 {
  font-family: 'Russo One', sans-serif;
  color: #fcbb17;
}



.navbar-nav li{
	  display: block;
    padding: .5em;
}


.navbar-nav li:hover{
	background-color: orange;
}

#intro {
	background-image: url('../images/greycircuit.jpg');
	background-size: cover;
	padding-top: 20px;


}
#intro .container-fluid {
	position: relative;

}
.intro {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 1em;


}

.intro hr {
	border: 1px solid #fcbb17;
	width: 30%;
}

.intro button {
	font-weight: bolder;
	background-color: rgba(252, 194, 3, 0.7);
	color: white;
	border-radius: 50em 50em 50em 50em;
}

.intro p {
	color: white;
	letter-spacing: .2em;
}

img.introchrist {
	border-radius: 5em 5em 5em 5em;
	margin-top: .25em;
	width: 25%;
	height: auto;
	background-color: white;
  border: 2px solid #325ca8;
}

img.presented {
	text-align: center;
	width: 70%;
	height: auto;
}

h5.present {
	font-size: 2em;
}

h3.present {
  color: #325ca8;
  font-size: 3em;
  text-align: center;
}

.present img {
	width: 60%;
	height: auto;
}

img.meow-img {
  width: 48%;
  height: auto;
  cursor: pointer;
}

.modal-body img{
  width: 100%;
  height: auto
}

.meaw-slides .carousel-inner {
  background: rgba(0, 0, 0, 0.5);
}

.intro-para {
  font-size: 'Open Sans', sans-serif;
  background: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), url("../images/cpupin.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 20px;
  color: white;
text-align: justify;
 text-justify: inter-word;
}


  img.meaw {
    width: 100%;
    height: auto;
    border: 2px solid  #60f542;
  }

  .meaw-carousel {
    border: 2px solid #325ca8;
  }

.p-overlay {
	background: rgba( 0,0 ,0 ,0.7);
	position: relative;
	z-index: 1;
}

#events .section-header {
	background-color: rgba( 0,0,0,0.5);

}
button.learnmore {
	border-radius: 50em 50em 50em 50em;
	background-color: rgba(10, 137, 255, 0.6)
}

.img-responsive {
	width: 35%;
	height: auto;
  border-color: #fcbb17;

}

#events .card-body {
	background-color: #85FFBD;
	background-image: linear-gradient(45deg, #85FFBD 0%, #807dff 100%);


}

#events .card-body button{

	color: gray;
	font-weight: bolder;
	font-family: 'Open Sans', sans-serif;
	border-radius: 50em 50em 50em 50em;

	text-align: center;

}

#testimonials .carousel-item {
	background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}


@media only screen and (max-width: 500px) {
	.img-responsive{
		width: 65%;
	}

	.intro h1 {
		font-size:1.5rem;
		letter-spacing: .25rem;
	}

	.carousel-item p {
		font-size: .7em;
		text-align: left;
        padding-left: 0;
		padding-right: 0;


	}

	.carousel-item .container {
		width: 80%;
		padding-top: 2em;

	}

	.avatar img {
		width: 40%;

	}

	#intro button {
		font-size: .5em;
	}

	img.introchrist {
		width: 60%;
    height: auto;
	}

  img.meaw {
    width: 100%;
    height: auto;

  }

}


#eventrules {
	padding-top: 67px;
}
.bg-overlay {
	background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("../images/audience.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    height: 250px;
    padding-top: 50px;


}

.play button {
  border-radius: 0 0 0 0;
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);


}

button.kahoot {
  background: #46178f;
  color: #f2f2f2;
}

button.file {
  background: #ff3814;
  color: #f2f2f2;

}

button.goosechase {
  background: #05b305;
  color: #f2f2f2;
}

.mine-instruct {
    background: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), url("../images/minecraft.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: white;
    padding: 5px;
}

.eventrules-head {
	  position: relative;
    width: 100%;
    left: 0;

}






.insta button {
  background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
  color: #f2f2f2;
}

.insta i {
  color: #f2f2f2;
}

hr.division {
border: 3px solid #fa073c;

}

hr.eventline {
border: 1px solid #aff705;
width: 5%;
}

.section-header{


}

.card-title {
		background-color: #94fc03;
		display: block;


}

.chip {
	background: #fc0339;
	color: white;
	font-weight: bolder;
	border-radius: 25px;

}
#eventschedule {
  background: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), url("../images/pexels.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#eventschedule .card {
  background-color: #FFDEE9;
 background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
}


#events {
		background-image: url('../images/bighole.jpg');
		 background-attachment: fixed;
		 background-size: cover;

}
.carousel-item .container {
  width: 80%;
  padding-top: 2em;

}

.quote-footer h5 {
  padding-bottom: 3em;
  color: #f7faf8;
  font-family: 'Russo One', sans-serif;
  text-transform: uppercase;
}

.quote-footer h4 {


  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
}


.quote-footer {
  background: rgba(0, 0, 0, 0.2);
}


.teamimg {
	width:100%;
	height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 0;
  transition: .5s ease;
  opacity:1;
  color: white;
  text-align: center;


}

.members p {


}
.alternatecards .card {
	border-radius: 0;


}

.alternatecards .card-img {
	border-radius: 0;
	width: 100%;
	height: auto;
}

.alternatecards .card-title {
	background-color: rgba(0,0,0,0.5);
	width: 100%;
	padding: 0;
	margin: 0;
	bottom: 1.2rem;
	position:absolute;
	transition: .9s ease;
	display: block;
  text-align: center;
  text-transform: uppercase;

}

.alternatecards p {
	background-color: rgba(0,0,0,0.5);
	width: 100%;
	padding: 0;
	margin: 0;
	text-align: center;
  text-transform: uppercase;
}


.alternatecards .card-img-overlay {
	padding: 0;
}

.alternatecards .card-text {
	bottom: 0;
	position:absolute;
	padding: 0;
}

#testimonials {
  height: 500px;
  margin-bottom: 400px;

}



.testi-img {
width: 20%;
height: auto;
border-radius: 50em 50em 50em 50em;
}

hr.testiline {
	width: 40%;
  border: 1px solid #ffd500;
}

#eventreg {
	margin-bottom: 4%;
  width: 80%;
}

@media only screen and (min-width: 800px) {
	.navbar-nav{
		margin-left: 60%;
	}



}

@media only screen and (max-width: 500px) {
   .alternatecards {
		display: flex;
		flex-wrap: wrap;


	}

	.alternatecards .card {
		width: 45%;
		margin-top: 1rem;

	}

  #eventreg {
    width: 95%;
  }


}

@media only screen and (min-width: 600px) {
   .alternatecards {
		display: flex;
		flex-wrap: wrap;


	}

	.alternatecards .card {
		width: 15%;


	}



}


#footer {
background-color: #210130;

color: white;
font-family: sans-serif;
}

hr.footerline{
	border: 3px solid #fa073c;

}

hr.footerlinks{
		border: 1px solid;
		margin-top: 0;

}

.fa-stack{
	color: blue;

}

.fa-angle-right {
	color:  #fa073c;
}
.list-unstyled a {
		text-decoration: none;
		color: white;
}
.footer-info {
		font-size: 1em;



}

.footer-info img{
	width: 100%;
	height: auto;
}
.footer-copyright {
color: white;
background-color: #0f0f0f;
font-weight: lighter;
font-family: Sans-serif;

}
